Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^komandae.beget.tech$ [NC]
  RewriteRule ^(.*)$ http://komandae.ru/$1 [R=301,L]

  RewriteCond %{HTTP_HOST} ^xn--80ajecbnebe6av1b.xn--p1ai$ [NC]
  RewriteRule ^(.*)$ http://komandae.ru/$1 [R=301,L]

  RewriteCond %{HTTPS} off
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]

  Redirect 301 /people https://komandae.ru/team/
  Redirect 301 /table https://komandae.ru/schedule/
  Redirect 301 /rekv https://komandae.ru/requisites/
  Redirect 301 /oferta https://komandae.ru/offer/
  Redirect 301 /akido https://komandae.ru/disciplines/aykido/
  Redirect 301 /box https://komandae.ru/disciplines/boxing/
  Redirect 301 /capoera https://komandae.ru/disciplines/capoeira/
  Redirect 301 /jj https://komandae.ru/disciplines/brazilian-jiu-jitsu/
  Redirect 301 /cirk https://komandae.ru/disciplines/circus-art/
  Redirect 301 /privacy https://komandae.ru/privacy-policy/
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
  ExpiresByType image/png "access plus 3 day"
  ExpiresByType text/css "access plus 3 day"
  ExpiresByType application/javascript "access plus 3 day"  
</IfModule>
