.services-item {
  display: flex;
  padding-top: 100px;
  margin-bottom: 100px; }
  @media (max-width: 1199.98px) {
    .services-item {
      align-items: flex-start; } }
  @media (max-width: 991.98px) {
    .services-item {
      padding-top: 0;
      flex-direction: column; } }
  @media (max-width: 767.98px) {
    .services-item {
      margin-bottom: 75px; } }
  .services-item__img-link {
    position: relative;
    flex-shrink: 0;
    width: 50%;
    margin-top: -100px;
    margin-bottom: 100px; }
    @media (max-width: 991.98px) {
      .services-item__img-link {
        width: 100%;
        margin: 0; } }
    .services-item__img-link::before {
      content: "";
      position: absolute;
      top: -40px;
      left: -37.5px;
      width: 75px;
      height: 80px;
      background: #FFFFFF url(../../../../img/shape.svg) 0 0 no-repeat;
      z-index: -1; }
    .services-item__img-link::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: -10px;
      right: -10px;
      background: var(--white-color);
      z-index: 1; }
      @media (max-width: 991.98px) {
        .services-item__img-link::after {
          display: none; } }
  .services-item__img {
    width: 100%;
    position: relative;
    z-index: 2; }
  .services-item__wrapper {
    width: 50%;
    position: relative;
    color: var(--dark-color);
    background: var(--secondary-color);
    padding: 100px 80px; }
    @media (max-width: 1199.98px) {
      .services-item__wrapper {
        padding: 80px 50px; } }
    @media (max-width: 991.98px) {
      .services-item__wrapper {
        padding: 50px 30px;
        width: 100%; } }
    @media (max-width: 767.98px) {
      .services-item__wrapper {
        padding: 40px 25px; } }
    .services-item__wrapper::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: -200px;
      height: 100%;
      width: 200px;
      background: var(--secondary-color); }
      @media (max-width: 991.98px) {
        .services-item__wrapper::before {
          display: none; } }
  .services-item__title {
    font-size: 3rem;
    color: var(--dark-color);
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700; }
    @media (max-width: 1199.98px) {
      .services-item__title {
        font-size: 2.5rem; } }
    @media (max-width: 991.98px) {
      .services-item__title {
        font-size: 1.75rem; } }
  .services-item__title-link {
    color: var(--dark-color);
    font-weight: 700; }
    .services-item__title-link:hover {
      color: var(--primary-color); }
  .services-item__preview-text {
    font-size: 1.125rem;
    line-height: 1.6em;
    margin-bottom: 30px;
    color: var(--dark-color); }
    @media (max-width: 767.98px) {
      .services-item__preview-text {
        font-size: 1rem; } }
    .services-item__preview-text p:last-of-type {
      margin-bottom: 0; }
  .services-item__link {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    font-size: 1.125rem; }
    .services-item__link:hover {
      color: var(--dark-color);
      border-bottom: 1px solid transparent; }

/*# sourceMappingURL=style.css.map */
