:root {
  --primary-color: #36348E;
  --primary-color-hover: #4e4ca6;
  --primary-color-active: #32316a;
  --primary-color-lighter: #CDD4FB;
  --warning-color: #FFC53A;
  --warning-color-hover: #ffcf21;
  --warning-color-active: #ebbd4e;
  --white-color: #FFFFFF;
  --dark-color: #292929;
  --dark-color-hover: #333333;
  --dark-color-active: #212121;
  --text-mutted-color: #adadad;
  --light-gray-color: #F8F8F8;
  --dark-gray-color: #747474;
  --font-size-small: 0.95rem;
  --font-size-smallest: 0.85rem;
}

body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Montserrat', Arial, sans-serif;
  color: var(--dark-color);
  background: var(--white-color);
}

::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all .25s ease-in-out;
  font-weight: 500;

  &:hover {
    color: var(--warning-color);
  }
}

.adaptive-video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
}

.pb-80 {
  padding-bottom: 80px !important;

  @media(max-width: 767.98px) {
    padding-bottom: 40px !important;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 40px;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: var(--dark-color);

  @media (max-width: 767.98px) {
    hyphens: auto;
    -webkit-hyphens: auto;
  }
}

.alert {
  border-radius: 0;
}

.alert-dark {
  --bs-alert-color: var(--white-color);
  --bs-alert-bg: var(--dark-color-hover);
  --bs-alert-border-color: var(--dark-color);
  --bs-alert-link-color: var(--white-color);
}

.btn {
  --bs-btn-padding-y: 17px;
  --bs-btn-padding-x: 30px;
  --bs-btn-font-weight: 500;
  --bs-btn-border-radius: 0;
}

.btn-group-sm > .btn,
.btn-sm {
  --bs-btn-padding-y: 13px;
  --bs-btn-padding-x: 20px;
  --bs-btn-font-size: var(--font-size-small);
  --bs-btn-border-radius: 0;
}

.btn-group-lg > .btn,
.btn-lg {
  --bs-btn-padding-y: 20px;
  --bs-btn-padding-x: 45px;
  --bs-btn-font-size: 1.125rem;
  --bs-btn-border-radius: 0;
}

.btn-dark {
  --bs-btn-color: var(--white-color);
  --bs-btn-bg: var(--dark-color);
  --bs-btn-border-color: var(--dark-color);
  --bs-btn-hover-color: var(--white-color);
  --bs-btn-hover-bg: var(--dark-color-hover);
  --bs-btn-hover-border-color: var(--dark-color-hover);
  --bs-btn-focus-shadow-rgb: 41,41,41;
  --bs-btn-active-color: var(--white-color);
  --bs-btn-active-bg: var(--dark-color-active);
  --bs-btn-active-border-color: var(--dark-color-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--white-color);
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

.btn-primary {
  --bs-btn-color: var(--white-color);
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: var(--white-color);
  --bs-btn-hover-bg: var(--primary-color-hover);
  --bs-btn-hover-border-color: var(--primary-color-hover);
  --bs-btn-focus-shadow-rgb: 54,52,142;
  --bs-btn-active-color: var(--white-color);
  --bs-btn-active-bg: var(--primary-color-active);
  --bs-btn-active-border-color: var(--primary-color-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--white-color);
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.btn-warning {
  --bs-btn-color: var(--dark-color);
  --bs-btn-bg: var(--warning-color);
  --bs-btn-border-color: var(--warning-color);
  --bs-btn-hover-color: var(--dark-color);
  --bs-btn-hover-bg: var(--warning-color-hover);
  --bs-btn-hover-border-color: var(--warning-color-hover);
  --bs-btn-focus-shadow-rgb: 255,197,58;
  --bs-btn-active-color: var(--dark-color);
  --bs-btn-active-bg: var(--warning-color-active);
  --bs-btn-active-border-color: var(--warning-color-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--dark-color);
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
}

.btn-outline-warning {
  --bs-btn-color: var(--dark-color);
  --bs-btn-border-color: var(--warning-color);
  --bs-btn-hover-color: var(--dark-color);
  --bs-btn-hover-bg: var(--warning-color);
  --bs-btn-hover-border-color: var(--warning-color);
  --bs-btn-focus-shadow-rgb: 255,193,7;
  --bs-btn-active-color: var(--dark-color);
  --bs-btn-active-bg: var(--warning-color-active);
  --bs-btn-active-border-color: var(--warning-color-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ffc107;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffc107;
  --bs-gradient: none;
  border-width: 2px;
  --bs-btn-padding-y: 16px;
  --bs-btn-padding-x: 29px;
}

.btn-outline-primary {
  --bs-btn-color: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: var(--white-color);
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-active-color: var(--white-color);
  --bs-btn-active-bg: var(--primary-color-active);
  --bs-btn-active-border-color: var(--primary-color-active);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-gradient: none;
}

.table {

  th {
    font-weight: 600;
  }

  p {
    margin: 0;
  }
}

.table>:not(caption)>*>* {
  padding: 20px 30px;
  color: var(--dark-color);
  border-bottom-width: 0;
  text-align: center;
  box-shadow: none;

  @media (max-width: 575.98px) {
    padding: 10px;
    font-size: var(--font-size-smallest);
  }
}

.table-striped th:first-of-type>* {
  text-align: left;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #FAFAFA;
}

.table-primary {
  --bs-table-bg: var(--primary-color-lighter);
}

.first-screen {
  background: var(--primary-color) url(img/first-screen.webp) 50% 50% no-repeat;
  background-size: cover;
  color: var(--white-color);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(54,52,142, 1) 20%,
            rgba(78,76,166,0.55));
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    padding: 250px 0;
    max-width: 600px;

    @media (max-width: 767.98px) {
      padding: 150px 0;
    }

    @media (max-width: 575.98px) {
      padding: 100px 0;
    }
  }

  &__header {

  }

  &__title {
    color: var(--white-color);
    margin-top: 10px;
    margin-bottom: 50px;

    @media (max-width: 575.98px) {
      margin-bottom: 30px;
    }

    //span {
    //  display: block;
    //}
  }

  &__description {
    font-size: 1.125rem;
    font-weight: 500;

    //span {
    //  display: block;
    //}
  }

  &__btn {
    margin-top: 50px;

    @media (max-width: 575.98px) {
      margin-top: 30px;
    }
  }
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 30px auto 0;
  padding: 0;
  list-style: none;
  font-size: var(--font-size-small);
  text-align: center;

  @media (max-width: 767.98px) {
    flex-direction: column;
  }

  &__item {
    margin-right: 15px;

    @media (max-width: 767.98px) {
      margin-right: 0;
      margin-bottom: 15px;
    }

    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }

    &:last-of-type .page-navigation__icon {
      margin-right: 0;
      margin-left: 5px;
    }
  }

  &__link {
    color: var(--dark-color);

    &:hover {
      color: var(--primary-color);
    }
  }

  &__icon {
    margin-right: 5px;
  }
}

.share-section {
  padding: 50px;
  background: var(--light-gray-color);
  max-width: 800px;
  margin: 50px auto 0;
  text-align: center;

  @media (max-width: 991.98px) {
    padding: 25px 20px;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--dark-color);

    @media (max-width: 991.98px) {
      font-size: 1.5rem;
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    span {
      display: block;

      @media (max-width: 991.98px) {
        display: inline;
      }
    }
  }

  &__module {

  }
}

.modal {
  .modal-title {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--dark-color);
  }
  .modal-header {
    border-radius: 0;

    .btn-close {
      background: none;
      font-size: 1.25rem;
    }
  }
  .modal-content {
    border-radius: 0;
  }
}

.figure-media {
  position: relative;
  width: 450px;
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 60px;

  @media (max-width: 991.98px) {
    margin-left: 0;
  }

  &::before {
    content: "";
    width: 75px;
    height: 80px;
    background: url('img/shape.svg') 50% 50% no-repeat;
    background-size: cover;
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: -1;
  }

  &::after {
    content: "";
    width: 240px;
    height: 225px;
    position: absolute;
    bottom: -30px;
    right: -30px;
    z-index: -1;
    background: var(--warning-color);
  }

  &_float-left {
    float: left;
    margin-right: 70px;

    @media (max-width: 991.98px) {
      float: none;
      width: 100%;
      margin-right: 0;
    }
  }

  &_float-right {
    float: right;
    margin-left: 70px;

    @media (max-width: 991.98px) {
      float: none;
      width: 100%;
      margin-left: 0;
    }
  }

  &_float-center {
    margin: 0 auto 30px;
    width: 800px;

    @media (max-width: 991.98px) {
      width: 100%;
    }
  }

  &_float-wide {
    width: 100%;
  }

  &__figcaption {
    border-top: 1px solid var(--border-color);;
    background: var(--light-bg-color);
    padding: 1rem 1.25rem;
    font-size: var(--font-size-small);
    color: var(--gray-color);
  }

  &__img-link {
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: block;
    flex-shrink: 0;

    @at-root {
      a#{&}:hover .figure-media__img {
        transform: scale(1.0125);
      }
    }
  }

  &__img {
    transition: transform .25s ease-in-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.navbar {
  background: var(--primary-color);
  padding: 0;

  .container-fluid {
    @media (max-width: 1199.98px) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: calc(100% - calc(var(--bs-gutter-x) * .5));
        width: calc(var(--bs-gutter-x) * .5);
        height: 100%;
        background: var(--white-color);
      }
    }
  }

  &__logo {

    .logo__img {
      @media (max-width: 767.98px) {
        margin-right: 5px;
      }
    }

    .logo__name {
      @media (max-width: 767.98px) {
        font-size: 1.25rem;
      }
    }

    .logo__description {
      @media (max-width: 1365.98px) {
        max-width: 145px;
      }

      @media (max-width: 767.98px) {
        font-size: 0.75rem;
        max-width: 125px;
      }
    }
  }
}

.navbar-wrapper {
  position: relative;
  background: var(--white-color);
  padding: 15px;
  display: flex;

  @media (max-width: 1199.98px) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: calc(var(--bs-gutter-x) * .5);
      height: 100%;
      background: var(--white-color);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: calc(var(--bs-gutter-x) * .5);
    height: 100%;
    background: var(--white-color);
  }

  @media (max-width: 1199.98px) {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    padding: 0;
  }
}

.navbar-contacts {

  @media (max-width: 1199.98px) {
    margin-top: 20px;
    margin-left: 18px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    @media (max-width: 349.98px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 10px;
    }
  }

  &__main-phone {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-right: 10px;

    @media (max-width: 349.98px) {
      margin-bottom: 10px;
    }

    &:hover {
      color: var(--primary-color);
    }
  }

  &__address {
    font-size: var(--font-size-small);
    color: var(--text-mutted-color);
  }
}

.messengers {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    color: var(--primary-color);
    background: transparent;

    &:hover {
      opacity: 0.85;
    }

    &::before {
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-size: 1.85rem !important;
    }

    &_telegram::before {
      font: var(--fa-font-brands);
      content: "\f2c6";
      color: #0088cc;
    }

    &_whatsapp::before {
      font: var(--fa-font-brands);
      content: "\f40c";
      color: #25d366;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  color: var(--white-color);

  &:hover {
    color: var(--white-color);
    opacity: 0.85;
  }

  &__img {
    margin-right: 15px;
  }

  &__wrapper {

  }

  &__name {
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__description {
    font-size: var(--font-size-smallest);
    display: block;
    margin-bottom: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.main-area {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 767.98px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.wide-area {

}

.breadcrumb {
  font-size: var(--font-size-small);
  margin: 0;

  .breadcrumb-item {
    a {
      color: var(--dark-color);

      &:hover {
        color: var(--primary-color);
      }
    }

    &.active {
      color: var(--text-mutted-color);
    }
  }

  .breadcrumb-item + .breadcrumb-item::before {
    color: var(--gray-color);
    content: var(--bs-breadcrumb-divider, "—");
  }
}

.page-header {
  margin-bottom: 40px;

  &__title {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.main-footer {
  background: var(--dark-color);
  color: var(--white-color);
}

.footer-content {
  padding: 80px 0;
}

.footer-logo {
  display: flex;
  align-items: center;
  color: var(--white-color);
  margin-bottom: 1rem;

  @media (max-width: 575.98px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &:hover {
    color: var(--white-color);
    opacity: 0.85;
  }

  &__img {
    width: 110px;
    height: 110px;
    margin-right: 1rem;

    @media (max-width: 575.98px) {
      margin-bottom: 1rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__description {
    font-size: var(--font-size-small);
  }
}

.footer-contacts {

  &__address {
    font-size: var(--font-size-small);
    color: var(--text-mutted-color);
    margin-bottom: 1rem;
  }

  &__phone-link {
    display: flex;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--white-color);

    &:hover {
      color: var(--primary-color-lighter)
    }
  }

  &__email-link {
    display: flex;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 1rem;

    &:hover {
      color: var(--primary-color-lighter)
    }
  }

  &__messengers {

    .messengers__item {
      margin-right: 1rem;
    }

    .messengers__link::before {
      color: var(--white-color) !important;
      font-size: 2rem !important;
      transition: all .25s ease-in-out;
    }

    .messengers__link:hover::before {
      opacity: 0.85;
    }
  }
}

.footer-copyright {
  padding: 15px 0;
  font-size: var(--font-size-small);
  background: var(--light-gray-color);
  color: var(--dark-gray-color);

  .container {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1199.98px) {
      flex-direction: column;
    }
  }

  &__links {
    display: flex;
    margin-left: 30px;

    @media (max-width: 1199.98px) {
      display: block;
      margin-left: 0;
      margin-top: 5px;
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    color: var(--dark-gray-color);
    margin-right: 15px;

    &:hover {
      color: var(--dark-color);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.page-mission {

  &__section {
    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }

  .mission-section {
    margin-bottom: 50px;
    display: flex;
    align-items: center;

    @media (max-width: 991.98px) {
      flex-direction: column;
    }

    &_right {
      flex-direction: row-reverse;

      @media (max-width: 991.98px) {
        flex-direction: column;
      }
    }

    .figure-media {
      flex-shrink: 0;
    }

    &__text {
      font-size: 1.35rem;
      font-weight: 500;

      @media (max-width: 767.98px) {
        font-size: 1.15rem;
        font-weight: 500;
      }
    }
  }
}

.page-contacts {

  &__wrapper {
    @media (max-width: 991.98px) {
      margin-top: 60px;
    }
  }

  &__map {
    position: relative;
    width: calc(100% - 30px);
    height: 600px;

    @media (max-width: 991.98px) {
      width: 100%;
    }

    &::before {
      content: "";
      width: 75px;
      height: 80px;
      background: url('img/shape.svg') 50% 50% no-repeat;
      background-size: cover;
      position: absolute;
      top: -40px;
      left: -40px;
      z-index: -1;
    }

    &::after {
      content: "";
      width: 240px;
      height: 225px;
      position: absolute;
      bottom: -30px;
      right: -30px;
      z-index: -1;
      background: var(--warning-color);
    }

    iframe {
      width: 100%;
    }
  }

  &__phone-link {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 1.5rem;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__address {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;

    .fa-solid {
      margin-right: 1rem;
      color: var(--primary-color);
    }
  }

  &__schedule {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    .fa-regular {
      margin-right: 1rem;
      color: var(--primary-color);
    }
  }

  &__messengers {
    margin-bottom: 1.5rem;

    .messengers__item {
      margin-right: 1rem;
    }

    .messengers__link::before {
      font-size: 2.25rem !important;
    }
  }

  &__email-link {
    display: block;
    font-weight: 500;
    font-size: 1.15rem;
    color: var(--dark-color);
    margin-bottom: 1.5rem;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__text {
    font-size: 1.15rem;

    &_before {
      margin-bottom: 1.5rem;
    }

    &_after {
      margin-top: 1.5rem;
    }
  }
}

.whatsapp-btn, .telegram-btn {
  position: fixed;
  z-index: 100;
  right: 35px;
  bottom: 35px;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #25d366;
  color: #ffffff;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .25s ease-in-out;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.14);

  @media (max-width: 767.98px) {
    font-size: 1.25rem;
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
  }
}

.telegram-btn {
  background-color: #0088cc;
  right: 105px;

  @media (max-width: 767.98px) {
    right: 70px;
  }
}

.whatsapp-btn:hover, .telegram-btn:hover {
  color: #ffffff;
  opacity: 0.85;
}

.to-top-btn {
  position: fixed;
  z-index: 100;
  bottom: 35px;
  left: 35px;
  opacity: 0;
  width: 50px;
  height: 50px;
  transition: all .25s;
  border-radius: 2px;
  background-color: var(--light-gray-color);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--dark-gray-color);

  &:hover {
    color: var(--white-color);
    background-color: var(--dark-color);
  }

  @media (max-width: 767.98px) {
    bottom: 20px;
    left: 20px;
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }
}

.form-section {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  background: var(--warning-color);
  color: var(--dark-color);

  .container {
    position: relative;

    & > * {
      position: relative;
      z-index: 1;
    }

    &::after {
      content: "";
      opacity: 0.1;
      width: 400px;
      height: 400px;
      background: url('img/logo-dark.png') 50% 50% no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      @media (max-width: 991.98px) {
        width: 500px;
        height: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.05;
      }
    }
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.125rem;

    span {
      display: block;
    }
  }
}

.main-section {
  padding: 80px 0;

  @media(max-width: 767.98px) {
    padding: 40px 0;
  }

  &_light-bg-color {
    background: #FAFAFA;
  }
  
  &__header {
    text-align: center;
    margin-bottom: 50px;

    @media(max-width: 767.98px) {
      margin-bottom: 30px;
    }
  }
  
  &__title {
    margin: 0;
  }

  &__subtitle {
    font-size: 1.25rem;
    color: var(--text-mutted-color);
    max-width: 700px;
    margin: 15px auto 0;

    @media (max-width: 767.98px) {
      max-width: initial;
      font-size: 1.125rem;
    }
  }
}

.yandex-reviews {
  width: 700px;
  margin: 0 auto;

  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.seo-text {
  &_top {
    margin-bottom: 60px;
  }

  &_bottom {
    margin-top: 60px;
  }
}