:root {
  --primary-color: #36348E;
  --secondary-color: #fcb900;
  --secondary-color-hover: #FFC53A;
  --white-color: #FFFFFF;
  --lightest-blue-color: #CDD4FB;
  --dark-color: #292929;
  --gray-color: #FAFAFA;
  --text-muted: #747474;
  --font-size-small: 0.85rem;
  --transition: all .25s ease-in-out;
}

body {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Montserrat', Arial, sans-serif;
  color: var(--dark-color);

  background: var(--white-color);
}

::-moz-selection {
  color: var(--white-color);
  background: var(--primary-color);
}

::selection {
  color: var(--white-color);
  background: var(--primary-color);
}

//.blur-up {
//  -webkit-filter: blur(5px);
//  filter: blur(5px);
//  transition: var(--transition);
//
//  &.lazyloaded {
//    filter: blur(0);
//  }
//}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: var(--transition);
  font-weight: 500;

  &:hover {
    color: var(--secondary-color);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 20px;
  margin-bottom: 40px;

  font-weight: 700;
  line-height: 1.2;
  color: var(--dark-color);
  letter-spacing: 0.025em;
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.85rem;
}

h3,
.h3 {
  font-size: 1.625rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.375rem;
}

.btn {
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0;
  transition: var(--transition);
}

.btn-lg {
  padding: 15px 40px;
  font-size: 1.125rem;
}

.btn-warning {
  --bs-btn-color: var(--dark-color);
  --bs-btn-bg: var(--secondary-color);
  --bs-btn-border-color: var(--secondary-color);
  --bs-btn-hover-color: var(--dark-color);
  --bs-btn-hover-bg: var(--secondary-color-hover);
  --bs-btn-hover-border-color: var(--secondary-color-hover);
  --bs-btn-focus-shadow-rgb: 217,164,6;
  --bs-btn-active-color: var(--dark-color);
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--dark-color);
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
}

.page-header {
  margin-bottom: 75px;

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: 800;
  }

  .breadcrumb {
    margin-bottom: 0;
    font-size: var(--font-size-small);
    font-weight: 500;
  }

  @media (max-width: 767.98px) {
    margin-bottom: 50px;

    &__title {
      font-size: 2rem;
      margin-bottom: 5px;
    }
  }
}

.main-area {
  padding: 75px 0;

  @media (max-width: 767.98px) {
    padding: 50px 0;
  }
}

.main-header {
  background: var(--primary-color);
  color: var(--white-color);

  .container-fluid {
    padding: 0;
  }

  .navbar {
    padding: 0;
  }

  .navbar-nav {
    padding: 16px 20px;
    background: var(--white-color);
    align-items: center;

    @media (max-width: 991.98px) {
      align-items: stretch;
    }
  }

  .nav-link {
    padding: 16px 20px !important;
    font-weight: 600;
    color: var(--dark-color);
    font-size: 15px;

    &:hover,
    &.active {
      background: var(--secondary-color);
      color: var(--dark-color);
    }
  }
}

.dropdown-menu {
  --bs-dropdown-link-color: var(--dark-color);
  --bs-dropdown-link-hover-color: var(--white-color);
  --bs-dropdown-link-hover-bg: var(--dark-color);
  --bs-dropdown-link-active-color: var(--white-color);
  --bs-dropdown-link-active-bg: var(--dark-color);
  padding: 0;
  border: none;
  border-radius: 0;

  &.active {
    font-weight: 500;
  }
}

.dropdown-item {
  padding: 15px 25px;
  font-weight: 500;
  color: var(--dark-color);
}

.dropdown-toggle::after {
  content: "\f107";
  display: inline-block;
  vertical-align: 0;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  border: none;
  font: var(--fa-font-solid);
}

.navbar-toggler {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1rem;
  color: var(--white-color);
  border: none;
  border-radius: 0;
  margin-right: 15px;

  &__text {
    font-size: var(--font-size-small);
    opacity: 0.85;
    color: var(--white-color);
    margin-right: 5px;
    text-transform: lowercase;

    @media (max-width: 319.98px) {
      display: none;
    }
  }

  &__icon {
    font-size: 1.5rem;
    width: 24px;
  }
}

.logo {
  display: flex;
  flex-shrink: 0;

  &:hover {
    opacity: 0.85;
  }

  &_header {
    padding: 0 20px;

    @media (max-width: 1199.98px) {
      max-width: 100%;
    }

    @media (max-width: 991.98px) {
      padding: 10px 15px;
    }
  }

  &_footer {
    margin-bottom: 20px;

    .logo__img {
      width: 100px;
      height: 100px;
    }
  }

  &__img {
    width: 75px;
    height: 75px;
    margin-right: 30px;

    @media (max-width: 1199.98px) {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  &__name {
    color: var(--white-color);
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: 0.05em;

    @media (max-width: 1100px) {
      font-size: 1.125rem;
    }
  }

  &__description {
    color: var(--white-color);
    font-size: var(--font-size-small);
  }
}

.messengers {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;

  &__item {
    margin: 0 10px;
  }

  &__link {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: transparent;
    font-size: 2.5rem;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--primary-color);
      color: var(--white-color);
      opacity: 0.85;
      font-size: 2.25rem;
    }
  }
}

.main-footer {
  &__content {
    padding-top: 85px;
    background: var(--dark-color);
    color: var(--white-color);

    @media (max-width: 991.98px) {
      padding-top: 50px;
    }
  }

  &__copyright {
    padding: 30px 0;
    background: #f8f8f8;
    color: var(--text-muted);
    font-size: var(--font-size-small);
  }
}

.footer-content {

}

.footer-contacts {
  &__item {
    margin-bottom: 20px;

    &_address {
      font-size: var(--font-size-small);
      color: var(--text-muted);
    }

    &_email {
      font-size: var(--font-size-small);

      & a {
        font-weight: 500;
        color: var(--white-color);

        &:hover {
          color: var(--lightest-blue-color);
        }
      }
    }
  }

  &__icon {
    color: var(--text-muted);
    margin-right: 5px;
  }

  &__phone-link {
    display: block;
    color: var(--white-color);
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 1.25rem;
    margin-bottom: 5px;

    &:hover {
      color: var(--lightest-blue-color);
    }
  }

  @media (max-width: 991.98px) {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.footer-messengers {
  padding: 50px 0;

  @media (max-width: 991.98px) {
    padding: 25px 0;
  }
}

.footer-navigation {
  &__title {
    display: block;
    font-size: 1rem;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-color);

    &:hover {
      color: var(--lightest-blue-color);
    }
  }
}

.footer-copyright {
  .container {
    display: flex;
    justify-content: space-between;
  }

  &__links {

  }

  &__link {
    margin: 0 10px;
    color: var(--text-muted);

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      color: var(--primary-color);
    }
  }

  @media (max-width: 991.98px) {
    .container {
      display: block;
      text-align: center;
    }

    &__links {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }

    &__link {
      margin: 0 0 10px 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.page-contacts {
  &__row {
    @media (max-width: 991.98px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__map {
    position: relative;
    width: 100%;
    height: 600px;

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: -37.5px;
      width: 75px;
      height: 80px;
      background: #FFFFFF url(img/shape.svg) 0 0 no-repeat;
      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;
      width: 270px;
      height: 270px;
      bottom: -50px;
      right: -50px;
      background: var(--primary-color);
      z-index: -1;

      @media (max-width: 767.98px) {
        bottom: -30px;
        right: -30px;
      }
    }

    @media (max-width: 767.98px) {
      width: calc(100% - 20px);
      height: 400px;
    }
  }

  &__col-contacts {
    padding-top: 50px;
    padding-left: 100px;

    @media (max-width: 991.98px) {
      padding-top: 0;
      padding-right: calc(var(--bs-gutter-x) * .5);
      padding-left: calc(var(--bs-gutter-x) * .5);
      margin-bottom: 80px;
    }
  }

  &__phone-link {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 5px;

    &:hover {
      color: var(--primary-color);
    }
  }

  &__callback-btn {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: var(--font-size-small);
    margin-bottom: 15px;
  }

  &__icon {
    color: var(--text-muted);
  }

  &__icon {
    margin-right: 7px;
    font-size: 1rem;
  }

  &__messengers {
    justify-content: flex-start;

    .messengers__link {
      width: auto;
      height: auto;
      color: var(--primary-color);

      &:hover {
        font-size: 2.5rem;
        background: transparent;
        color: var(--primary-color);
      }
    }
  }

  &__item_email {
    font-weight: 700;
  }

  &__item_email a {
    color: var(--dark);
    font-weight: 600;

    &:hover {
      color: var(--primary-color);
    }
  }
}